
.cover_image{
    min-height: 300px;
    position: relative;
    overflow: hidden;
}
.cover_image>img{
    position: absolute;
    width: 100%;
    height:100%;
    transition: 5s;
    z-index: -1;
    object-fit: cover;
}

.cover_image:hover>img{
    transform: scale(1.1);
}
.profile_pic img{
    height: 216px;
    width: 216px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -120px;
    z-index: 3;
    transition: 2s;
}
.profile_pic img{
    object-fit: cover;
}
.user_info{
    z-index: 3;
}
.user_info h2{
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
}
.user_info p.user_email{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.profile_btn_group  .btn{
    border-radius: 4px !important;
    padding: 8px 16px;
}
.profile_btn_group .follow_btn{
    background-color: #0044F4;
}
.profile_btn_group .follow_btn{
    background-color: #0044F4;
}
.profile_btn_group .share_btn{
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}
.nav-tabs .nav-link.active{
  }

  .creator_card {
    background-color: var(--card-bg);
    padding: 20px 16px;
    margin-top: 25px;
    backdrop-filter: blur(20px);
  }
  .creator_card  img{
    height: 64px;
    width: 64px;
    object-fit: cover;
  }
  .creator_card h4{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    opacity: 0.8;

  }
  .creator_card p{
font-style: normal;
font-weight: 400;
font-size: 14px;
opacity: .8;
  }
  
  
@media screen and (max-width:1200px){

    .profile_pic img{
        height: 150px !important;
        width: 150px !important;
        margin-top: -80px;
  }

  .creator_card img{
    height: 40px;
    width: 40px;
  }
  .creator_card h4{
    font-style: normal;
    font-size: 16px;
  }
}
  @media screen and (max-width:1024px){

    .user_info h2 {
        font-size: 18px;
      }


  }
  @media screen and (max-width:992px){
    .profile_btn_group .btn {
        border-radius: 4px !important;
        padding: 4px 8px;
      }

      .creator_card h4{
        font-style: normal;
        font-size: 14px !important;
      }
      .creator_card p{
        font-size: 12px !important;
      }
      .creator_card img {
        height: 40px;
        width: 40px;
        object-fit: cover;
      }
  }
  @media screen and (max-width:768px){
    .creator_card h4{
        font-style: normal;
        font-size: 12px;
      }

  }